{
  "presets": [
    ["env"],
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-dynamic-import",
    "babel-plugin-transform-export-extensions",
    [
      "babel-plugin-transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "babel-plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}