@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app_kit {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.main-body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  margin-right: 0;
}

.kit-modal-box-shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
}

.kit-modal-box {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 10px;
  background: #ffffff;
  top: 100px;
  z-index: 999;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.kit-modal-box span.close-modal i {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  background: #2196f3;
  border-radius: 50%;
}

.kit-modal-box .modal-body .form-group {
  margin-bottom: 10px;
}

.kit-modal-box .modal-body .button-submit-area .btn {
  margin-left: 10px;
  margin-top: 10px;
}

.modal-header {
  padding: 1.25em 1.25em 0 1.25em;
}

.loginPage {
  width: 450px;
  margin: 30px auto;
}

.loginPage .login_url {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: block;
}

.loginPage .note {
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  color: #a9a9a9;
  font-style: italic;
}

.add-kit-types-box {
  margin-bottom: 30px;
}

.add-kit-types-box .action-btn {
  padding-left: 10px;
}

.add-kit-types-box .details-input-box {
  padding-left: 10px;
}

