@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app_kit {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.main-body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.bg-red-light {
  background: #fc7b7b !important;
  color: #ffffff;
}

.bg-blue-dark-shade {
  background: #243137 !important;
}

.bg-blue-dark {
  background: #2F3D46 !important;
}

.bg-white {
  background: #ffffff !important;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  margin-right: 0;
}

.kit-modal-box-shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
}

.kit-modal-box {
  position: absolute;
  width: 500px;
  height: auto;
  padding: 10px;
  background: #ffffff;
  top: 100px;
  z-index: 999;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.kit-modal-box span.close-modal i {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  background: #2196f3;
  border-radius: 50%;
}

.kit-modal-box .modal-body .form-group {
  margin-bottom: 10px;
}

.kit-modal-box .modal-body .button-submit-area .btn {
  margin-left: 10px;
  margin-top: 10px;
}

.modal-header {
  padding: 1.25em 1.25em 0 1.25em;
}

.loginFormHolder .mask-backaground {
  background-image: url("/images/gardient_bg.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.loginFormHolder .loginPage {
  width: 450px;
  margin: 10% auto;
  position: relative;
  background: transparent;
}

.loginFormHolder .loginPage .login-mask {
  background: #26262ed9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.loginFormHolder .loginPage .card {
  background-color: transparent;
  border: none;
}

.loginFormHolder .loginPage .form-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.loginFormHolder .loginPage .btn-orange {
  background: #EA6157;
  color: #ffffff;
}

.loginFormHolder .loginPage .form-title {
  color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 300;
}

.loginFormHolder .loginPage label {
  color: #f1f1f1;
  font-weight: 300;
}

.loginFormHolder .loginPage .login_url {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: block;
}

.loginFormHolder .loginPage .note {
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  color: #a9a9a9;
  font-style: italic;
}

.add-kit-types-box {
  margin-bottom: 30px;
}

.add-kit-types-box .action-btn {
  padding-left: 10px;
}

.add-kit-types-box .details-input-box {
  padding-left: 10px;
}

.kit-form-body .required {
  color: #ffbdb9;
}

.issue-date-box {
  padding-right: 15px;
}

.alert-box {
  position: fixed;
  max-width: 350px;
  bottom: 10px;
  right: 10px;
}

.alert-box p {
  margin: 0;
  padding: 3px;
  border-radius: 3px;
  background: #ffbdb9;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block !important;
}

.user-counter-box .total-user {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  text-align: center;
}

.kit-box-shadow {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: none;
}

.token-box {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.token-box .token-front {
  width: 200px;
}

.token-box .token-front i {
  font-size: 25px;
}

.token-box .token-data {
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.token-box .token-data .token-title {
  color: #2F3D46;
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  line-height: 48px;
}

.token-box .token-data .token-sub-title {
  color: #6d6e6e;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.kims-form .form-control {
  font-size: 18px;
  font-weight: 300;
  height: 55px;
}

.kims-form label {
  font-size: 18px;
  font-weight: 300;
}

.lds-dual-ring {
  display: inline-block;
  width: 54px;
  height: 54px;
  position: absolute;
  right: 0;
  top: 12px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 36px;
  height: 36px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.search-box-container {
  margin-bottom: 10px;
}

.search-box-container .form-control {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: none;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
}

.badge-right {
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  right: 10px;
  top: 20px;
}

.token-label {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 3px 5px;
  text-align: center;
  min-width: 30px;
  border-radius: 10px;
}

.token-label.token-white {
  background: #ffffff;
  color: #2F3D46;
}

.navbar-brand {
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand .app-name {
  font-weight: bold;
  color: #ffffff;
}

.kim-modal-shadow {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  overflow-y: scroll;
}

.kim-modal-shadow .main-modal {
  width: 450px;
  background: #ffffff;
  margin: 120px auto;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.kim-modal-shadow .main-modal .modal-header {
  border-bottom: 1px solid #efefef;
  padding: 10px;
  position: relative;
}

.kim-modal-shadow .main-modal .modal-header .modal-title {
  position: relative;
  margin: 0;
  padding: 0;
}

.kim-modal-shadow .main-modal .modal-header .modal-close {
  position: absolute;
  right: 10px;
  top: 12px;
  border: 1px solid #efefef;
  border-radius: 5px;
  color: #666;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  height: 20px;
  width: 20px;
  cursor: pointer;
  text-align: center;
}

.kim-modal-shadow .main-modal .modal-body {
  min-height: 250px;
}

.kim-modal-shadow .main-modal .modal-body .kims-form .form-control {
  border-radius: 0;
  height: 45px;
  font-size: 14px;
  font-weight: 300;
}

.kim-modal-shadow .main-modal .modal-body .kims-form .btn-success {
  width: 66px;
  margin-left: 5px;
  font-size: 1.3em;
  padding-top: 7px;
}

.kim-modal-shadow .main-modal .modal-body .problem-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.kim-modal-shadow .main-modal .modal-body .problem-list .problem-name {
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
}

.kim-modal-shadow .main-modal .modal-body .problem-list .problem-name:first-child {
  border-top: 1px solid #dfdfdf;
}

.kim-modal-shadow .main-modal .modal-body .problem-list .delete-problem {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #fc7b7b;
}

.kim-modal-shadow .main-modal .modal-body .problem-list .empty-title {
  text-align: center;
  color: #666666;
  padding-top: 10px;
}

.kim-modal-shadow .main-modal .modal-footer {
  border-top: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 0;
}

.kim-modal-shadow .main-modal .modal-footer p {
  margin: 0;
}

.sticky-label {
  display: inline-block;
}

.sticky-label.primary-label {
  background: #1a52cb;
  color: #ffffff;
}

.sticky-label.danger-label {
  background: #fc7b7b;
  color: #ffffff;
}

