
// Body
$body-bg: #f5f8fa;
$theme-color:#2196f3;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white : #ffffff;
$red_light: #fc7b7b;

$blue_dark_shade: #243137;
$blue_dark: #2F3D46;