.navbar {
  padding:0;
}
.navbar-collapse {
  margin-right:0;
}
.kit-modal-box-shadow {
  position: fixed;
  height:100%;
  width:100%;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.2);
  z-index:99;
  display: flex;
  justify-content:center;
  overflow-y: scroll;
}

.kit-modal-box { 
  position: absolute;
  width: 500px;
  height:auto;
  padding:10px;
  background: #ffffff;
  top:100px;
  z-index:999;
  border-radius: 4px;
  transition: all .5s;

  span.close-modal i{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    background: $theme-color;
    border-radius: 50%;
  }  
  .modal-body{
    .form-group{
      margin-bottom: 10px;
    }
    .button-submit-area{
      .btn{
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}
.modal-header{
  padding: 1.25em 1.25em 0 1.25em;
}

.loginPage {
  width: 450px;
  margin: 30px auto;
    .login_url {
      text-align: center;
      font-size:18px;
      margin-bottom:30px;
      margin-top:10px;
      display: block;
    }
    .note {
      font-size:12px;
      margin:5px 0;
      padding:0;
      color: #a9a9a9;
      font-style: italic;
    }
}

.add-kit-types-box {
  margin-bottom:30px;
    .action-btn {
      padding-left:10px;
    }
  .details-input-box {
    padding-left: 10px;
  }
}